<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <% if (locals.user) { %>
    <div>
      <nav>
        <a href="/logout">Log Out</a>
        <a href="/new-message">New Message</a>
        <a href="/club">Club</a>
      </nav>
      
      <h2 class="welcome">Hello, <%= locals.user.username %>!</h2>
    </div>
    <% } else {%>
      <nav>
        <a href="/">Home Page</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    <%  }%>
    <div class="messages">
      <h1 class="message-header">Messages</h1>
      <ul>
        <% messages.forEach(message => { %>
            <div class="message">
              <h3><%= message.title %></h3>
              <p><%= message.text %></p>
              <% if (locals.user) { %>
                <% if (locals.user.status === "club_member" || locals.user.status === "admin") { %>
                  <p><%= message.time %></p>
                  <p><%= message.author %></p>
                <% } %>
                <% if (locals.user.status === "admin") { %>
                  <button class="delete" data-id="<%= message.id %>">Delete</button>
                <% } %>
              <% } %>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
      
      <script> 
        const deleteButtons = document.querySelectorAll('.delete');
        
        deleteButtons.forEach(button => {
          button.addEventListener('click', async () => {
          const id = button.getAttribute('data-id');
          button.parentNode.remove();
          await fetch(`/delete-message`, {
            method: 'DELETE',
            body: JSON.stringify({id: id}),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then((response) => {
            if (!response.ok) {
              console.error(response.statusText)
            }
            return response
          })
          .then((response) => {
            return response.json()
          }).then(function(json) {
              console.log(json);
          })
          .catch((e) => dispatch(
            console.error(e)
          ));
          location.reload();
        });
      });
    </script>


</body>
</html>